#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  width: 300px;
}

.menu-button {
  padding: 8px 16px;
  background-color: lightcoral;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  top: 110%;
  background-color: rgb(231, 231, 231);
  border: 1px solid #ccc;
  list-style: none;
  padding: 5px 10px;
  margin: 0;
}

.menu-link {
  color: black;
  display: block;
}

.menu-link:hover {
  color: darkblue;
  text-decoration: underline;
}

.menu-link:focus {
  color: darkblue;
  text-decoration: underline;
}
